<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Batchjob>
            <version>0.1.0</version>
        </Aligent_Batchjob>
    </modules>
    <global>
        <models>
            <batchjob>
                <class>Aligent_Batchjob_Model</class>
                <resourceModel>batchjob_resource</resourceModel>
            </batchjob>
            <batchjob_resource>
                <class>Aligent_Batchjob_Model_Resource</class>
            </batchjob_resource>
        </models>
        <helpers>
            <batchjob>
                <class>Aligent_Batchjob_Helper</class>
            </batchjob>
        </helpers>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Aligent_Batchjob/>
            </modules>
        </suite>
    </phpunit>
    <default>
        <system>
            <email_logs>
                <level>4</level>
                <email>someone@example.com</email>
            </email_logs>
        </system>
    </default>
</config>